compile
src-exe/compiler-exe
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
.ghc.environment.*
/tutorial.md
/.stack-work/
*.bak
*.auto
src/Bnfc/TestWacc
src/Bnfc/ParWacc.hs
src/Bnfc/LexWacc.hs
